{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Services We Provide</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Services</li>
          </ol>
        </div>
      </div>
    </section>
    <section id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Repairs</a></h4>
              <p class="description">Expert solutions for all your electronic devices, restoring them to peak performance</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-coin"></i></div>
              <h4 class="title"><a href="">Affordable</a></h4>
              <p class="description">Quality repairs at budget-friendly prices, without compromising on excellence</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Fast</a></h4>
              <p class="description">Timely service to get you back to your digital life quickly and efficiently</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Transparent</a></h4>
              <p class="description">A clear and honest repair process, providing you with peace of mind</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-receipt"></i></div>
              <h4 class="title"><a href="">Wide Range</a></h4>
              <p class="description">Comprehensive repairs for smartphones, laptops, household appliances, and more</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-shield"></i></div>
              <h4 class="title"><a href="">Trusted</a></h4>
              <p class="description">Over 4 years of experience, earning the trust of countless satisfied customers</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
 {% endblock %}
